@import './variables';

.card {
  position: relative;
  height: 720px;
  .card__header {
    position: relative;
    .card__headerBgImage {
      width: 375px;
      height: 270px;
    }

    .card__headerButtons {
      position: absolute;
      top: 15.44px;
      left: 15.44px;
      display: flex;
      width: 63.56px;
      height: 31.11px;
      align-items: center;
      cursor: pointer;

      .card__headerButtonArrowImage {
        width: 31.11px;
        height: 31.11px;
      }

      .card__headerButtonBack {
        font-weight: 300;
        font-size: 18px;
        color: $white;
        margin-left: 5px;
      }
    }
  }

  .card__body {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 450px;
    width: 375px;
    background-color: $white;
    position: absolute;
    bottom: 53px;
    left: 0;
    right: 0;

    .card__container {
      width: 325px;
      margin: 0 auto;

      .card__bodyHeader {
        padding: 20px 0;
        .card__bodyHeaderTop {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .card__bodyHeaderName {
            font-size: 44px;
            color: $purple;
            font-weight: 900;
          }

          .card__bodyHeadeMoreIcn {
            cursor: pointer;
            padding: 15px 0;
          }
        }

        .card__bodyHeaderFollowButttons {
          display: flex;
          align-items: center;

          .card__bodyHeaderFollowIcon {
            width: 20px;
            height: 20px;
            margin-right: 5px;
            cursor: pointer;
          }

          .card__bodyHeaderFollow {
            font-size: 14px;
            font-weight: 900;
            color: $purple;
            cursor: pointer;
          }
        }
      }

      .card__bodyStats {
        border-top: 1px solid $purple;
        border-bottom: 1px solid $purple;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: $purple;
        padding: 11px 0;

        .card__bodyStatsNumber {
          font-size: 24px;
          font-weight: 900;
          line-height: 1;
        }

        .card__bodyStatsTitle {
          font-size: 14px;
          font-weight: 900;
        }

        .column {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
